# macos specific files
.DS_Store

# Developer settings
/.dev/

# External tools and dependencies
/.ext/

# VS Code specific files
/.vscode/launch.json
/.vscode/tasks.json

# goreleaser dist directory
/dist

# go workspace file
go.work
